# Dependencies
node_modules/

# Environment variables
.env

# Build files
/frontend/build
/frontend/dist

# Logs
*.log
npm-debug.log*

# Operating System
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo